{% extends "base.html" %}

{% block content %}
{% include 'messages.html' %}
<section style="padding-top:100px!important;" class="project-section">
    <div class="container">
        <div class="row">
            <div class=" login_container">
                <div class="col-sm-12 col-md-5 col-lg-5 register_div">
                    <div class="container py-5">
                        <h1>Reset Password</h1>
                        <form
                            action="{% url 'account:reset' %}" method="POST">
                            <div>
                                {% csrf_token %}
                                <div class="form-group">
                                    {% for field in form %}
                                    <p>{{field.label}}:</p>
                                    {{field}}
                                    {% for error in field.errors %}
                                    <br><small class="error">{{ error }}</small>
                                    {% endfor %}
                                    {% endfor %}

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="far fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button style="text-align: center !important;" class="btn btn-primary"
                                    type="submit">Reset</button>
                            </div>
                        </form>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
    {% endblock %}