{% extends "accounts/base.html" %}

{% block content %}
{% include 'messages.html' %}
<div style="margin: auto; width:15rem; text-align: center;">
    <div class="container py-5">
        <h1>Verification Page</h1>
        <p>Please verify your email.</p>
        <form action="{% url 'email_verification' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <button type="submit" class="btn btn-primary btn-block">Re-send Verification Email</button>

            </div>
        </form>
</div>
</div>
{% endblock %}