{% extends "accounts/base.html" %}

{% block content %}
{% include 'messages.html' %}
<div style="margin: auto; width:26rem; text-align: center;">
    <div class="container py-5">
        <h1>Register</h1>
        <form style="text-align:left; padding-top:5px; border:1px solid black; border-radius: 5%;"
            action="{% url 'account:register' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div style="margin:0.8rem; padding-left: 0.7rem;" class="form-group">
                <label class="form-label" for="first_name">{{ field.label_tag }}</label>
                <div class="input-group input-group-merge">{{ field }}</div>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <br><small class="error">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}
            <div style="margin: 0.6rem 0 1rem 10.2rem;">
                <button style="text-align: center !important;" class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
        <p class="text-center">If you already have an accounts, <a href="{% url 'account:login' %}">login</a> instead.</p>
    </div>
</div>
{% endblock %}