{%if messages%}
    <div class="messages alert" role="danger">
        {%for message in messages%}
        <small class="message_text">{{message}}</small><br>
        {%endfor%}
    </div>
{%endif%}

<style>
    .message_text{
        color: black;
    }
    .alert {
    background-color: azure;
    
    width:100%;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transform: translatey(0px);
    transition: visibility 0s, opacity 250ms, transform 250ms;
}
.hide {
    background-color: azure;

    width:100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translatey(-10px); 
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}
</style>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
        $(".alert ").addClass("hide")
    }
    setTimeout(remove, 3250)
    function remove(){
        $(".alert ").remove()
    }
</script>